doctype html
head
  meta(name='viewpoint' content='width=device-width, initial-scale=1.0')
  title Tickets
  link(rel='stylesheet' href='../stylesheets/tickets.css')
  script(src='../javascripts/tickets.js')
body(onload="search(), filterSelection('all')")
  //- start header
  br
  br
  .sign-in
    p(class = "active_user" id = "active_user") Hello #{active_user}
    a(id="sign-in" onclick="location.href='http://localhost:3000/sign_in'") Sign In
    a(id="sign-out" onclick="location.href='http://localhost:3000/sign_out'") Sign Out

  img(src='../img/logo.jpeg' alt='logo')
  br
  table.nav
    tr
      td#firstTab
        .tab(onclick="location.href='http://localhost:3000/'")
          | Home
          span
          span
          span
          span
      td
        .tab(onclick="location.href='http://localhost:3000/tickets'")
          | Find Tickets
          span
          span
          span
          span
      td
        .tab(onclick="location.href='http://localhost:3000/my_profile'")
          | My Profile
          span
          span
          span
          span
      td
        .tab(onclick="location.href='http://localhost:3000/Contact_page'")
          | Contact Us
          span
          span
          span
          span
  br
  br
  //- end header
  script.
    console.log(document.getElementById('active_user').innerHTML);
    if (document.getElementById('active_user').innerHTML == 'Hello guest'){
      document.getElementById('sign-in').style.display = 'inline-block';
      document.getElementById('sign-out').style.display = 'none';
    }
    else {
      document.getElementById('sign-in').style.display = 'none';
      document.getElementById('sign-out').style.display = 'inline-block';
    }
  
  #myBtnContainer
    button#all.btn.active(onclick="filterSelection('all')")  Show all 
    button#concerts.btn(onclick="filterSelection('concerts')")  Concerts 
    button#sports.btn(onclick="filterSelection('sports')")  Sports 
    button#standup.btn(onclick="filterSelection('standup')")  Stand up comedy 
    button#parties.btn(onclick="filterSelection('parties')")  Parties 
    button#festivals.btn(onclick="filterSelection('festivals')")  Festivals 
    button#theater.btn(onclick="filterSelection('theater')")  Theater 
    button#cinema.btn(onclick="filterSelection('cinema')")  Cinema 
    button#kids-shows.btn(onclick="filterSelection('kids')")  Kids 
    button#other.btn(onclick="filterSelection('other')")  Other 
  br
  br
  form.searchBar(action='' onsubmit='return false')
    input#search(type='text' name='search_ticket' placeholder='Search ticket')
  br
  ul(class="tickets" id="tickets")
    for ticket in ticketsList
      li(class="filterDiv "+ticket.category)
        h2(href="#" class="eventName")= ticket.event_name
        p(class="place")= ticket.location_name
        p(class="address")= ticket.address
        p(class="price")= ticket.purchase_price
        .datetime
          p(class="date")= ticket.event_date
          p(class="time")= ticket.start_time
        br
        br
        a(href='http://localhost:3000/tickets/'+ticket.ticket_ID) For more details and buy click here

  //- start footer
  table.footer
    tr
      td
        a(onclick="location.href='http://localhost:3000/About'") About us
      td
        a(onclick="location.href='http://localhost:3000/FAQ'") FAQ
      td
        a(onclick="location.href='http://localhost:3000/policy'") Policy
      td
        a Follow us:
        br
        img(src='../img/imstegram icon.png' alt='Instagram' onclick="window.open('https://instagram.com','_blank')")
        img(src='../img/facebook icon.png' alt='Facebook' onclick="window.open('https://facebook.com','_blank')")
  //- end footer